body {
    background: #0d1117;
    color: #c9d1d9;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.navbar {
    background-color: #1a1d23;
}

.nav-link {
    color: #58a6ff;
    transition: color 0.3s;
}

.nav-link:hover {
    color: #c9d1d9;
}

/* Estilo da foto de perfil */
.profile-picture img {
    transition: transform 0.3s, box-shadow 0.3s;
}
.profile-picture img:hover {
    transform: scale(1.05);
    box-shadow: 0 0 15px #58a6ff;
}

/* Geral das seções */
main {
    padding-bottom: 60px; /* Espaço para o footer */
}

section {
    padding: 20px 0;
}

footer {
    background: #111;
    padding: 20px 0;
    text-align: center;
    color: #aaa;
}
footer .social-icons a {
    color: #aaa;
    margin: 0 10px;
    transition: color 0.3s;
}
footer .social-icons a:hover {
    color: #58a6ff;
}
